<a href="/article/{{_id}}">
	<div class="card border-primary" style="width: 20rem;">
	  <div class="card-body">
	    <h4 class="card-title">{{headline}}</h4>
	    {{#if summary}}
	    <p class="card-text">{{summary}}</p>
	    {{/if}}
	  </div>
	</div>
</a>